*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.game-board{
    
    width: 100%;
    height: 500px;
    border-bottom: 20px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#009ddb, #ffc800,#ff8400);
}


.shell{
    position: absolute;
    bottom: 0px;
    width: 70px;
    animation: pipe-anim 2.5s infinite linear;
    
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0px;
  
}

.nuvens{
    position: absolute;
    width: 600px;
    animation: nuvens-anim 15s infinite linear;
}

.jump{
    animation: mario-jump 500ms ease-out;
}



@keyframes pipe-anim {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }

}

@keyframes mario-jump {

    0%{
        bottom: 40px;        
    }
    40%{
        bottom: 190px;
    }
    50%{
        bottom: 190px;  
    }
    60%{
        bottom: 190px;
    }
    100%{
        bottom: 40px;
    }
}

@keyframes nuvens-anim {
    from{
        right: -600px;
    }
    to{
        right: 100%;
    }

}
